#box{
    height:500px;
    width:500px;
    border:solid;
    border-color: black;
    margin:0 auto;
}
.dynamicDiv {
    width : 50px;
    height : 50px;
    border-radius:20%;
    background-color:yellow;
    padding : 0px;
    color: rgb(23, 26, 216);
    font-size:5px;
    }
    #para1{
    width : 100px;
    height : 50px;
    border : solid 0px #c0c0c0;
    background-color:rgb(212, 71, 71);
    padding : 0px;
    color: rgb(23, 26, 216);
    font-size:30px;
    margin-top: -1000px;
    margin-left: 500px;
    }
    /*#para2{
        width : 100px;
        height : 50px;
        border : solid 0px #c0c0c0;
        background-color:grey;
        padding : 0px;
        color: rgb(23, 26, 216);
        font-size:30px;
        margin-left: 320px;
        }*/
        #container{
            width : 500px;
            height : 500px;
            border : solid 3px rgb(223, 22, 22);
            background-color:yellow;
            margin-left:500px;
            }
            #screen{
                width : 100%;
                height : 750px;
                background-color:#5ea3a8;
                }
                #title{
                    font-size:50px;
                    margin-left:550px;
                 }
                 #key{
                    font-size:30px;
                 }
                     
